.header{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}
.align{
    display:flex;
    gap: 15px;
    vertical-align: top;
}
.flex-column-gap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}